@*@{
    ViewData["Title"] = "Home Page";
}*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleInterval" class="carousel slide" data-mdb-ride="carousel" style="width:100%; height:400px; ">
    <div class="carousel-inner">
        <div class="carousel-item active" data-mdb-interval="2000">
            <img src="~/Images/2018-book-list.webp" class="d-block w-100 m-5," style="height:400px;" alt="Wild Landscape" />
        </div>
        <div class="carousel-item" data-mdb-interval="2000">
            <img src="~/Images/books.jpg" class="d-block w-100 m-5" style="height:400px;" alt="Camera" />
        </div>
        <div class="carousel-item" data-mdb-interval="2000">
            <img src="~/Images/old-books-arranged-on-shelf-royalty-free-image-1572384534.jpg" class="d-block w-100 m-5" style="height:400px;" alt="Exotic Fruits" />
        </div>
        <div class="carousel-item" data-mdb-interval="2000">
            <img src="~/Images/4.webp" class="d-block w-100 m-5" style="height:400px;" alt="Exotic Fruits" />
        </div>
    </div>
    <button class="carousel-control-prev" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" data-mdb-target="#carouselExampleInterval" type="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
